<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'index.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename = 'index.js') }}"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>The Pythonic Way</title>
  </head>
  <body class="dark-mode">
    <nav>
      <div class="logo">Faiz's Blog</div>
      <div class="nav-items">Home</div>
      <div class="nav-items">About</div>
      <div class="nav-items">Featured</div>
      <div class="nav-items mode-toggle">Dark Mode</div>
    </nav>

    <div class="hero">
      <div class="hero-title">The Pythonic Way</div>
      <div class="hero-desc">
        Coding,Tutorials and much more related to development
      </div>
    </div>

    <div class="body">
      <!-- Fetch and Iterate over posts here -->
      {% for post in posts %}
      <!-- Template for post -->
      <div class="post">
        <div class="image">
          <img
            src="{{ post.image_url }}"
            alt=""
            height="200px"
            width="200px"
          />
        </div>
        <div class="post-body">
          <div class="post-title">{{ post["title"] }}</div>
          <div class="post-date">{{ post["date"] }}</div>
          <div class="post-desc">
            {{ post["desc"] }}
          </div>
          <div class="post-tags">
            <!-- Fetch and iterate over post tags here -->
            {% for tag in post["categories"] %}
            <div class="tags">{{ tag }}</div>
            {% endfor %}
            <div class="tags">python</div>
            <div class="tags">javascript</div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <footer>Connect with the author</footer>
    <script>
      //barebones dark mode implementation, add more dark-mode classes for text and other elements and
      //replace them accordingly.
      $(".mode-toggle").on("click", () => {
        if ($("body").hasClass("dark-mode")) {
          $("body").removeClass("dark-mode");
          $(".mode-toggle").text("Dark Mode");
        } else {
          $("body").addClass("dark-mode");
          $(".mode-toggle").text("Go Blind");
        }
      });
    </script>
  </body>
</html>
