*{
    margin: 0;
    padding: 0px;
}
body{
    font-family: 'Manrope';
}
.dark-mode{
    
    background-color: rgb(23, 24, 39);
    color: white;
}
nav{
    display: flex;
    cursor: pointer;
    padding: 20px;
    align-items: center;
}
.logo{
    font-weight: 600;
    font-size: 1.6rem;
    margin-right:auto;
}

.nav-items{
    font-size: 1rem;
    margin: 0 5px 0 5px;
}
.hero{
    background: url("https://images.unsplash.com/photo-1605693499249-5402f5ae919b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3ludGglMjB3YXZlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=1000&q=60");
    background-color: gray;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: white;
}
.hero-title{
    font-weight: 800;
    font-size: 2rem;
}

.hero-desc{
  
}
.body{
    display: flex;
align-items: center;    flex-direction: column;
}
.post{
    display: flex;
    max-width: 1000px;
    margin-top: 30px;
    padding: 10px 15px;
    border-bottom: 1px solid gray;
}
.image{
    min-height: 200px;
    min-width: 200px;
    overflow: hidden;
    margin-right: 10px;
}
.post-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(84, 0, 74);
}
.post-date{
    color: rgb(255, 157, 173);
    font-size: 12px;
}
.post-body{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}
.post-desc{
  margin-top: 10px;
  margin-bottom: auto;
}
.post-tags{
    color: white;
    font-size: 10px;
    display: flex;
    margin-bottom: 10px;
}
.tags{
   margin-right: 5px;
   padding: 4px 8px 4px 8px;
   background-color: rgb(60, 0, 60);
   border-radius: 20px;
 }
 footer{
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 10px 20px;
 }