* {
    margin: 0;
    padding: 0px;
}

body {
    font-family: 'Manrope';
}

.dark-mode {

    background-color: rgb(23, 24, 39);
    color: white;
}

nav {
    display: flex;
    cursor: pointer;
    padding: 20px;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 1.6rem;
    margin-right: auto;
}

.nav-items {
    font-size: 1rem;
    margin: 0 5px 0 5px;
}